@font-face {
  font-family: 'Lexend Variable';
  src: url('/fonts/lexend-latin-wght-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lexend Variable', sans-serif;
}

main {
  flex: 1;
}
