---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Página Principal" description="Esta es mi página principal donde muestro todo lo relevante al sitio web">
	<h1>Astro</h1>
	<a href="/about/">About</a>
	<a href="/products/">Productos</a>
</BaseLayout>

