---
---

<style>
    footer {
        height: 70px;
        background-color: #363633;
        color: #fff;;
        font-size: 0.5rem;
    }

    footer div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

</style>

<footer>
    <div>
        <h1>&copy; 2025 - Cartonfast, S.A. - Todos los derechos reservados</h1>
    </div>
    
</footer>
