---
---
<style>
  .hero-section {
    background-image: url('/bosque-cajas.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    opacity: 0.7;
  }

  .hero-section div {
    font-size: 2rem;
  }
</style>

<section class="hero-section">
  <div>
    <h1>Bienvenidos a Cartonfast</h1>
    <p>Soluciones en embalaje eficientes y sostenibles</p>
  </div>
</section>