---
---

<style>
  .hero-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    height: 75px;
    background: #f3f0e8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .img-logo {
    width: 200px;
    margin-top: 7px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    transition: color 0.3s ease;
    font-size: 1.3rem;
  }

  .nav-links a {
    color: #000;
    text-decoration: none;
  }

  .nav-links a:hover {
    color: #3B7A57;
  }

</style>

<nav class="hero-nav" id="main-nav">
  <div class="nav-logo">
    <img class="img-logo" src="/logo-sencer.png" alt="logo de la página" />
  </div>
  <div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/products/">Productos</a>
    <a href="/about/">Empresa</a>
    <a href="/products/">Contacto</a>
  </div>
</nav>


